*{
    margin: auto;
}
.carouselExampleCaptions{
    height: fit-content;
    width: fit-content;
    
}
.conatiners{
    background-color: aqua;
}

/*  
https://source.unsplash.com/1200x400/?code
s */

