
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: 'Poppins',sans-serif; */
  }
  body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background: linear-gradient( #71b7e6, #9b59b6);
  }
   .container{
    max-width: 700px;
    width: 100%;
    background-color: #fff;
    padding: 25px 30px;
    border-radius: 20px;
    box-shadow: 0 5px 10px rgba(172, 0, 0, 0.945);
  }
  .container .title{
    font-size: 25px;
    font-weight: 500;
    text-align: center;
    justify-content: center;
    
    
  }
  
  form .user-details .input-box{
    margin-bottom: 15px;
    width: 100% - 20px;
  }

  .user-details .input-box input{
    height: 45px;
    width: 100%;
    outline: none;
    font-size: 16px;
    border-radius: 5px;
    padding-left: 15px;
    border: 1px solid #ccc;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
  }
   form .button{
     height: 45px;
     margin: 35px ;
   }
   form .button input{
     height: 100%;
     width: 100%;
     border-radius: 5px;
     border: none;
     color: #fff;
     font-size: 18px;
     font-weight: 500;
     letter-spacing: 1px;
     cursor: pointer;
     
     background: linear-gradient(135deg, #71b7e6, #9b59b6);
   }
  
  